# Django==4.2
# boto3==1.28.0  # For DynamoDB integration
djangorestframework==3.14  # For API development (if needed)



asgiref
awsebcli
blessed
boto3
botocore
cement
certifi
charset-normalizer
colorama
crispy-tailwind
Django
django-crispy-forms
idna
jmespath
pathspec
python-dateutil
PyYAML
requests
s3transfer
semantic-version
setuptools
six
sqlparse
termcolor
urllib3
wcwidth
gunicorn
psycopg2-binary
reportlab

